.progress-meter text {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.nf-green {
  color: #69BE28;
}

.nf-white {
  color: #fff;
}

.status {
  border: 2px;
  border-style: solid;
  border-color: #fff;
  padding: 20px;
  margin: 20px;
}

.chart-border {
  padding: 20px;
  margin: 20px;
}

.nf-green-bg {
  background-color: #69BE28;
}

path {
  stroke: #69BE28;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
